body {
    background-color: #ebbcba;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: right;
    color: #191724;
    font-size: 25px;
    font-family: 'Hubballi', cursive;
}

li {
    display: inline;
    color: #191724;
    font-family: 'Hubballi', cursive;
    padding: 2px;
}

p {
    font-size: 25px;
    font-family: 'Hubballi', cursive;
}
.buttons {
    display: flex;
    justify-content: space-evenly;
    height: 500px;
    color: #26233a;
    font-size: 20px;
    font-family: 'Hubballi', cursive;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    height: 170px;
    color: #26233a;
    font-family: 'Hubballi', cursive;
}

.bodyflex {
    display: flex;
    flex-direction: column;
  
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
  
    height: 100%;
}

#first {
    flex: 1 1 auto;
    display: flex;
}

#firstcol {
    background-color: #e0def4;
    flex: 1;
    height: 600px;
    /* width: 200px; */
}

#firstcol p {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

#secondcol {
    background-color: #ebbcba;   
    flex: 6;
    display: flex;
    justify-content: center;
}

#start_note {
    display: flex;
    background-color: #f6c177;
    height: 30%;
    padding-right: 10%;
}

#load_btn {
    padding: 10px;
    
}

#notes {
    display: flex;
    flex-direction: column;
}

/* #thirdcol {
    flex: 2;
    display: flex;

} */
